@page
@model EmployeeManagement.Pages.Employees.pagenotfoundModel
@{
}
<div class="text-xl-center">
    <h3 >Page Not Found</h3>
    <a asp-page="index" class="btn btn-primary">Click here to go View page</a>

</div>